.bannar {
    width: auto;
    height: 600px; /* 使用视口高度 */
    position: relative;
    margin: 0 auto;
    overflow: hidden; /* 防止图片溢出 */
}
.bannar img {
    width: 100%; /* 设置图片宽度为100% */
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1.5s;
}
.bannar img:nth-child(1){
    opacity: 1;
}
.right-btn{
    position: absolute;
    width: 50px;
    height: 80px;
    top: 270px;
    right: 0;
    color: #ccc;
    border-radius: 5px 0 5px 0;
    text-align: center;
    line-height: 80px;
    font-size:  50px;
}
.right-btn:hover{
    background-color: rgba(125,125,125,0.4);
    color: #fff;
}
.left-btn{
    position: absolute;
    width: 50px;
    height: 80px;
    top: 270px;
    left: 0;
    color: #ccc;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 80px;
    font-size:  50px;
}
.left-btn:hover{
    background-color: rgba(125,125,125,0.4);
    color: #fff;
}
.yd ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.yd li{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #ccc;
    float: left;
    margin-right: 10px;
}
.yd li:hover{
    background-color: #fff;
}
.yd li:nth-child(1){
    background-color: #fff;
}
.yd{
    position: absolute;
    bottom: 30px;
    right: 100px;
}
